<div class="min-h-screen flex flex-col">
  <header class="bg-blue-600 text-white p-4 flex items-center justify-between">
    <div class="flex items-center">
        <img src="../../../../assets/img/crosspay-solutions-logo-color.svg" alt="Logo" class="h-8 w-50 inline-block" />
    </div>
    <div *ngIf="!isAuthenticated">
      <p (click)="navigateToLogin()">Iniciar sesión</p>
    </div>

    <div *ngIf="isAuthenticated">
      <p (click)="closeSession()">Cerrar sesión</p>
    </div>
  </header>

  <main class="flex-1 p-6 bg-gray-50">
    <router-outlet></router-outlet>
  </main>
</div>
